<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <nav>
                <ul type="none">
                    <li><a href="/">Home</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/plan">Plan Your Trip</a></li>
                    <li><a href="/ai-guide">AI Travel Guide</a></li>
                    <li><a href="/culture">Culture and Heritage</a></li>
                    <li><a href="/my-trips">My Trips</a></li>
                    <li><a href="/tourist-data-analytics">Tourist Data Analytics</a></li>
                    <li><a href="/handicrafts">Handicrafts</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/my-profile">My Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <section id="exploreByInterest">
            <h1>Explore Jharkhand your way</h1>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Photo spots.png" alt="Wedding and Photoshoot points">
                </div>
                <h3>Wedding and Photoshoot points</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Rural.png" alt="Tribal and Rural">
                </div>
                <h3>Tribal and Rural Experiences</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Handicrafts.png" alt="Art and Handicraft">
                </div>
                <h3>Art and Handicraft</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/History.png" alt="History and Heritage">
                </div>
                <h3>History and Heritage</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Spiritual.png" alt="Spiritual Peace">
                </div>
                <h3>Spiritual Peace</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Adventure.png" alt="Adventure">
                </div>
                <h3>Adventure</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Hidden gem.png" alt="Hidden gem">
                </div>
                <h3>Explore Hidden Gems</h3>
            </div>
            <div class="exploreCards">
                <div class="exploreContainer">
                    <img src="/images/Taste and food.png" alt="Taste the Tradition">
                </div>
                <h3>Taste the Tradition</h3>
            </div>
        </section>

        <section id="districtListBox">
            <h1>Explore by Districts</h1>
            <ul type="none" id="districtList">
                <li>Bokaro</li>
                <li>Chatra</li>
                <li>Deoghar</li>
                <li>Dhanbad</li>
                <li>Dumka</li>
                <li>East Singhbhum</li>
                <li>Garhwa</li>
                <li>Giridih</li>
                <li>Godda</li>
                <li>Gumla</li>
                <li>Hazaribagh</li>
                <li>Jamtara</li>
                <li>Khunti</li>
                <li>Koderma</li>
                <li>Latehar</li>
                <li>Lohardaga</li>
                <li>Pakur</li>
                <li>Palamu</li>
                <li>Ramgarh</li>
                <li>Ranchi</li>
                <li>Sahibganj</li>
                <li>Seraikela Kharsawan</li>
                <li>Simdega</li>
                <li>West Singhbhum</li>
            </ul>
        </section>

        <section id="districtDestinationCards">
            <div class="districtDestination" data-district="bokaro">
                <div class="placeCard">
                    <img src="/images/Bokaro/City Park.png">
                    <h3>City Park</h3>
                    <p>A beautiful recreational park in Bokaro featuring a lake, greenery and peaceful surroundings, ideal for relaxation and family outings.</p>
                    <p>Best time: October to March</p>
                    <p>How to reach: Easily accessible by road from Bokaro Steel City.</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Bokaro/Garga Dam.png">
                    <h3>Garga Dam</h3>
                    <p>A scenic reservoir on the Garga River, surrounded by greenery and known for its peaceful views and natural beauty.</p>
                    <p>Best time: October to March</p>
                    <p>How to reach: About 12 km from Bokaro town; accessible by road.</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Bokaro/Ayyappa Temple.png">
                    <h3>Ayyappa Temple</h3>
                    <p>A popular Hindu temple dedicated to Lord Ayyappa, known for its peaceful atmosphere and religious significance.</p>
                    <p>Best time: October to March</p>
                    <p>How to reach: Easily accessible by road from Bokaro Steel City.</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Bokaro/Jagannath Temple.png">
                    <h3>Jagannath Temple</h3>
                    <p>A prominent temple dedicated to Lord Jagannath, known for its traditional architecture and religious importance.</p>
                    <p>Best time: October to March</p>
                    <p>How to reach: Easily accessible by road from Bokaro Steel City.</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Bokaro/Jawaharlal Nehru Park.png">
                    <h3>Jawaharlal Nehru Park</h3>
                    <p>A large zoological park featuring diverse animals and birds, along with an artificial lake, boating and a toy train.</p>
                    <p>Best time: October to March</p>
                    <p>How to reach: About 12 km from Bokaro city; accessible by road and near Bokaro Steel City railway station.</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Bokaro/Steel Plant.png">
                    <h3>Steel Plant</h3>
                    <p>One of Bokaro's major landmarks and an important industrial centre, showcasing the city's strong connection with the steel industry.</p>
                    <p>Best time: Throughout the year</p>
                    <p>How to reach: Easily accessible by road from Bokaro Steel City.</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="chatra">
                <div class="placeCard">
                    <img src="/images/Chatra/Bario waterfall.png">
                    <h3>Bario Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Bhadrakali temple.png">
                    <h3>Bhadrakali Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Dumer Sumer.png">
                    <h3>Dumer Sumer</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Gua waterfall.png">
                    <h3>Gua Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Kauleshwari Hill.png">
                    <h3>Kauleshwari Hill</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Kunda palace ruins.png">
                    <h3>Kunda Palace Ruins</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Maludah waterfall.png">
                    <h3>Maludah Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Chatra/Tamasin waterfall.png">
                    <h3>Tamasin Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="deoghar">
                <div class="placeCard">
                    <img src="/images/Deoghar/Baidyanath Temple.png">
                    <h3>Baidyanath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Basukinath temple.png">
                    <h3>Basukinath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Budhai hills.png">
                    <h3>Budhai hills</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Devasangha Math.png">
                    <h3>Devasangha Math</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Harilajori.png">
                    <h3>Harilajori</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Nandan Pahar.png">
                    <h3>Nandan Pahar</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Naulakha temple.png">
                    <h3>Naulakha temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Punasi.png">
                    <h3>Punasi</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Rikhiapeeth.png">
                    <h3>Rikhiapeeth</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Satsang ashram.png">
                    <h3>Satsang Aashram</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Shivganga.png">
                    <h3>Shivganga</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Tapovan hills.png">
                    <h3>Tapovan Hills</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Deoghar/Trikut hill.png">
                    <h3>Trikut Hill</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="dhanbad">
                <div class="placeCard">
                    <img src="/images/Dhanbad/Bhatinda falls.png">
                    <h3>Bhatinda Falls</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Bhuiphore Temple.png">
                    <h3>Bhuiphore Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Birsa Munda park.png">
                    <h3>Birsa Munda Park</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Dhanbad coal mines.png">
                    <h3>Dhanbad Coal Mines</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Digwadih lake.png">
                    <h3>Digwadih lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Hari Mandir.png">
                    <h3>Hari Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Kalyaneshwari Temple.png">
                    <h3>Kalyaneshwari Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Maithon dam.png">
                    <h3>Maithon Dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Maithon lake.png">
                    <h3>Maithon Lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Panchet dam.png">
                    <h3>Panchet dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Shakti mandir.png">
                    <h3>Shakti Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Topchanchi lake.png">
                    <h3>Topchanchi lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dhanbad/Topchanchi wildlife scantuary.png">
                    <h3>Topchanchi wildlife scantuary</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="dumka">
                <div class="placeCard">
                    <img src="/images/Dumka/Baba basukinath temple.png">
                    <h3>Baba Basukinath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Baba sumeshwar nath temple.png">
                    <h3>Baba Sumeshwarnath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Chotunath temple.png">
                    <h3>Chotunath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Damakol waterfall.png">
                    <h3>Damakol Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Jharna Pahad waterfall.png">
                    <h3>Jharna Pahad Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Malooti.png">
                    <h3>Malooti</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Massanjore dam.png">
                    <h3>Massanjore Dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Mayurkashi river.png">
                    <h3>Mayurkashi River</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Nakti hill.png">
                    <h3>Nakti Hill</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Selfie bridge.png">
                    <h3>Selfie bridge</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Shiv pahar and naag mandir.png">
                    <h3>Shiv Pahad and Naag Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Dumka/Tatloi hotwater spring.png">
                    <h3>Tatloi Hotwater Spring</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="east singhbhum">
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Bhuteshwar mandir.png">
                    <h3>Bhuteshwar Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Burudi lake.png">
                    <h3>Burudi Lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Dalma hill.png">
                    <h3>Dalma hill</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Dalma wildlife scantuary.png">
                    <h3>Dalma Wildlife Scantuary</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Dimna lake.png">
                    <h3>Dimna Lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Hudco Lake.png">
                    <h3>Hudco Lake</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Jubilee park.png">
                    <h3>Jubilee park</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Kharkai river.png">
                    <h3>Kharkai River</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Rankini Temple.png">
                    <h3>Rankini Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Sai Temple Sonari.png">
                    <h3>Sai Temple Sonari</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Subarnarekha river.png">
                    <h3>Subarnarekha river</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/East Singhbhum/Tata steel zoological park.png">
                    <h3>Tata Steel Zoological Park</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="garhwa">
                <div class="placeCard">
                    <img src="/images/Garhwa/Anraj dam.png">
                    <h3>Anraj dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Baba banshidhar temple.png">
                    <h3>Baba Banshidhar Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Baba Khonhar nath temple.png">
                    <h3>Baba Khonhar Nath Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Danro dam.png">
                    <h3>Danro Dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Guru sindhu waterfall.png">
                    <h3>Guru Sindhu Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Pahari Mandir.png">
                    <h3>Pahari Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Parasdiha waterfall.png">
                    <h3>Parasdiha Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Ranka Rajbhawan.png">
                    <h3>Ranka Rajbhawan</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Satbahini waterfall.png">
                    <h3>Satbahini Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Garhwa/Sukhaldari waterfall.png">
                    <h3>Sukhaldari Waterfall</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>

            <div class="districtDestination" data-district="giridih">
                <div class="placeCard">
                    <img src="/images/Giridih/Dukhiya mahadev mandir.png">
                    <h3>Dukhiya Mahadev Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Harihar dham.png">
                    <h3>Harihar Dham</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Jain temples parasnath.png">
                    <h3>Jain Temples Parasnath</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Jharkhand dham.png">
                    <h3>Jharkhand Dham</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Khandoli dam.png">
                    <h3>Khandoli Dam</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Khandoli park.png">
                    <h3>Khandoli park</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Langta Baba Samadhi Sthal.png">
                    <h3>Langta Baba Samadhi Sthal</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Madhuban.png">
                    <h3>Madhuban</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Shri kabir gyan mandir.png">
                    <h3>Shri Kabir Gyan Mandir</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
                <div class="placeCard">
                    <img src="/images/Giridih/Surya temple.png">
                    <h3>Surya Temple</h3>
                    <p>Short description</p>
                    <p>Best time to visit</p>
                    <p>how to reach</p>
                    <button>Save</button>
                </div>
            </div>
        </section>
    </main>


    <!--Footer-->
    <footer>
        <div class="footerContent">
            <h2>Jharkhand Tourism</h2>
            <p>Discover the heart of Jharkhand.</p>
            <div class="footerLinks">
                <a href="/">Home</a>
                <a href="/explore">Explore</a>
                <a href="/plan">Plan Your Trip</a>
                <a href="/culture">Culture & Heritage</a>
                <a href="/my-trips">My Trips</a>
                <a href="/tourist-data-analytics">Tourist Data Analytics</a>
                <a href="/handicrafts">Handicrafts</a>
                <a href="/weather">Weather</a>
                <a href="/my-profile">My Profile</a>
            </div>
            <p class="copyright">
                © 2026 Jharkhand Tourism. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!--JavaScript-->
    <script src="/script.js"></script>
</body>
</html>