<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <nav>
                <ul type="none">
                    <li><a href="/">Home</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/plan">Plan Your Trip</a></li>
                    <li><a href="/ai-guide">AI Travel Guide</a></li>
                    <li><a href="/culture">Culture and Heritage</a></li>
                    <li><a href="/my-trips">My Trips</a></li>
                    <li><a href="/tourist-data-analytics">Tourist Data Analytics</a></li>
                    <li><a href="/handicrafts">Handicrafts</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/my-profile">My Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <section id="heroSection">
            <h1>Discover the Heart of Jharkhand</h1>
            <p>Where nature, culture and adventure come together.</p>

            <div class="searchBox">
                <input type="text" placeholder="Search destinations...">
                <button>Search</button>
            </div>
        </section>

        <section id="popularDestinations">
            <h1>Popular Destinations</h1>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Betla National Park.png" alt="Betla National Park">
                </div>
                <h3>Betla National Park</h3>
                <p>Latehar</p>
            </div>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Dassam Falls.png" alt="Dassam Falls">
                </div>
                <h3>Dassam Falls</h3>
                <p>Ranchi</p>
            </div>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Hundru Falls.png" alt="Hundru Falls">
                </div>
                <h3>Hundru Falls</h3>
                <p>Ranchi</p>
            </div>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Netarhat.png" alt="Netarhat">
                </div>
                <h3>Netarhat</h3>
                <p>Latehar</p>
            </div>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Patratu Valley.png" alt="Patratu Valley">
                </div>
                <h3>Patratu Valley</h3>
                <p>Ramgarh</p>
            </div>
            <div class="destinationCards">
                <div class="imageContainer">
                    <img src="/images/Baidyanath Temple.png" alt="Baidyanath Temple">
                </div>
                <h3>Baidyanath Temple</h3>
                <p>Deoghar</p>
            </div>
        </section>

        <section id="exploreByCategory">
            <h2>Beyond the Destinations</h2>
            <p>Discover what makes Jharkhand truly unique.</p>
            <div class="categoryContainer">
                <div class="categoryCard waterfalls">
                    <img src="/images/Place.png" alt="Place">
                    <h3>Places to Visit</h3>
                </div>
                <div class="categoryCard wildlife">
                    <img src="/images/Festival.png" alt="Festival">
                    <h3>Festivals and Traditions</h3>
                </div>
                <div class="categoryCard hills">
                    <img src="/images/Art.png" alt="Art">
                    <h3>Art and Culture</h3>
                </div>
                <div class="categoryCard temples">
                    <img src="/images/Food.png" alt="Food">
                    <h3>Food and Flavours</h3>
                </div>
                <div class="categoryCard culture">
                    <img src="/images/Dance.png" alt="Dance">
                    <h3>Dance and Music</h3>
                </div>
            </div>
        </section>
    </main>

    
    <!--Footer-->
    <footer>
        <div class="footerContent">
            <h2>Jharkhand Tourism</h2>
            <p>Discover the heart of Jharkhand.</p>
            <div class="footerLinks">
                <a href="/">Home</a>
                <a href="/explore">Explore</a>
                <a href="/plan">Plan Your Trip</a>
                <a href="/culture">Culture & Heritage</a>
                <a href="/my-trips">My Trips</a>
                <a href="/tourist-data-analytics">Tourist Data Analytics</a>
                <a href="/handicrafts">Handicrafts</a>
                <a href="/weather">Weather</a>
                <a href="/my-profile">My Profile</a>
            </div>
            <p class="copyright">
                © 2026 Jharkhand Tourism. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!--JavaScript-->
    <script src="/script.js"></script>
</body>
</html>