<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trips</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <nav>
                <ul type="none">
                    <li><a href="/">Home</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/plan">Plan Your Trip</a></li>
                    <li><a href="/ai-guide">AI Travel Guide</a></li>
                    <li><a href="/culture">Culture and Heritage</a></li>
                    <li><a href="/my-trips">My Trips</a></li>
                    <li><a href="/tourist-data-analytics">Tourist Data Analytics</a></li>
                    <li><a href="/handicrafts">Handicrafts</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/my-profile">My Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--Main-->
    <main>
        <ul>

        </ul>
    </main>

    <!--Footer-->
    <footer>
        <div class="footerContent">
            <h2>Jharkhand Tourism</h2>
            <p>Discover the heart of Jharkhand.</p>
            <div class="footerLinks">
                <a href="/">Home</a>
                <a href="/explore">Explore</a>
                <a href="/plan">Plan Your Trip</a>
                <a href="/culture">Culture & Heritage</a>
                <a href="/my-trips">My Trips</a>
                <a href="/tourist-data-analytics">Tourist Data Analytics</a>
                <a href="/handicrafts">Handicrafts</a>
                <a href="/weather">Weather</a>
                <a href="/my-profile">My Profile</a>
            </div>
            <p class="copyright">
                © 2026 Jharkhand Tourism. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!--JavaScript-->
</body>
</html>